# 备份文件
*~
..*~

# 数据目录、日志目录
data/
log/

# 只忽略 Python 缓存文件，不忽略源代码目录
__pycache__/
*.pyc
*.pyo
*.pyd

# 确保 src/data 下的缓存被忽略，但保留该目录和 .py 文件
src/**/__pycache__/
src/**/*.pyc

!src/data/
!src/data/**
**/__pycache__
